body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin: 20px;
}
a {
    text-decoration: none;
}
section {
    background-color: white;
    padding: 30px;
    margin: 30px 150px;
}
h1 {
    text-align: center;
}
article {
    border-bottom: black solid 3px;
    margin: 5px;
}
footer {
    color: white;
    background-color:black;
    text-align: center;
    padding: 10px;
    
}